body {
    background: url("/static/core/img/background.png");
    padding: 40px 0;
}

p {
    font-size: 16px;
    line-height: 22px;
}

.row {
    padding: 20px 0;
}

.form-actions {
    background-color: none;
    background: none;
    border-top: none;
}

.form-actions button {
    margin-right: 10px;
}

.add-feed form {
    padding-top: 41px;
}

.feed-table {
    padding-top: 0;
}

.navbar-inner {
    background: none;
    background-color: none;
    background-image: none;
    box-shadow: none;
    padding-right: 0;
}

.navbar .brand {
    font-size: 70px;
    color: #333;
    padding-left: 0;
    font-family: "Pacifico";
}

.navbar .nav > li > a {
    padding: 7px 15px;
    border-radius: 25px;
    margin: 25px 15px;
    font-size: 22px;
    color: #333;
    text-shadow: none;
    border: 2px solid #777;
}

.navbar .nav > li > a:hover {
    background-color: #333;
    color: #ccc;
    border-color: #ccc
}

.navbar .nav > li:last-child > a {
    margin-right: 0;
}

#home-header h1 {
    margin-bottom: 15px;
    font-size: 4em;
    font-weight: normal;
    font-family: "Pacifico";
}

#home-header h2 {
    margin-bottom: 15px;
}

hr {
    border-color: #999;
    border-bottom: none;
}

#footer p {
    font-size: 12px;
    opacity: 0.5;
}

#footer p:hover {
    opacity: 1;
}
