/* -------------------------------------------------------------------------- */
/* Global Tags */

body {
    background: url("/static/core/img/background.png");
    padding: 40px 0;
}

p {
    font-size: 16px;
    line-height: 22px;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* Global Classes */

.row {
    padding: 20px 0;
}

.form-actions {
    background-color: none;
    background: none;
    border-top: none;
}

.form-actions button {
    margin-right: 10px;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* Navbar */

.navbar-inner {
    background: none;
    background-color: none;
    background-image: none;
    box-shadow: none;
    padding-right: 0;
}

.navbar .brand {
    font-size: 70px;
    color: #333;
    padding-left: 0;
    font-family: "Pacifico";
}

.navbar .nav > li > a {
    padding: 7px 15px;
    border-radius: 25px;
    margin: 25px 10px;
    font-size: 22px;
    color: #333;
    text-shadow: none;
    border: 2px solid #aaa;
}

.navbar .nav > li > a:hover {
    background-color: #aaa;
}

.navbar .nav > li:last-child > a {
    margin-right: 0;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* Footer */

hr {
    border-color: #999;
    border-bottom: none;
}

#footer p {
    font-size: 12px;
    opacity: 0.5;
}

#footer p:hover {
    opacity: 1;
}

/* -------------------------------------------------------------------------- */
