{% extends "core/core.html" %}

{% block title %}Sorbet, a simple RSS feed sender.{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3>What Sorbet Is.</h3>
                <p>Sorbet is a simple RSS feed fetcher/parser and sender. It
                    takes an RSS feed and when there are updates it sends them
                    to your inbox.</p>
            </div>
            <div class="span4">
                <h3>What Sorbet Isn't.</h3>
                <p>A traditional "feed reader". you can setup the feeds
                    you want and check on their status, but your email client
                    is your feed reader now.</p>
            </div>
            <div class="span4">
                <h3>Why Sorbet?</h3>
                <p>Most feed readers are built for quickly
                    browsing massive amounts of feeds. My email is built so that
                    I am guaranteed to see every email and read it.</p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Doesn't this service already exist?</h3>
                <p>Yes, and it isn't free or open source. I feel like such a
                    simple service should be accessible and hostable anywhere.
                    In the future I may ask for donations or require a small
                    signup fee but if you sign up now you'll always have a free
                    account and the software will always be open source.</p>
            </div>
        </div>
    </div>
{% endblock %}
