{% extends "core/core.html" %}
{% load bootstrap_field %}


{% block title %}Sorbet - New User{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span6">
                {% if form.non_field_errors %}
                    <ul class="unstyled">
                        {% for error in form.non_field_errors %}
                            <li class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="{% url core:register %}" method="POST" class="form-horizontal">{% csrf_token %}
                    <fieldset>
                        {% bootstrap_field form.email %}
                        {% bootstrap_field form.password1 %}
                        {% bootstrap_field form.password2 %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" name="submit" id="id_submit">Submit</button>
                            <a href="{% url core:home %}" class="btn">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span6">
                <h3>Sorbet loves you!</h3>
                <p>We will never give away your email address or use it for
                    spamming. We try to store as little information as possible
                    about you for this service to work. If you feel like you
                    would rather run Sorbet yourself all of our code is
                    opensource and on
                    <a href="https://github.com/overshard/sorbet/">GitHub</a>.
                    Feel free to start up a clone with your own
                    customizations!</p>
            </div>
        </div>
    </div>
{% endblock %}
