{% extends "core/core.html" %}

{% block title %}Sorbet - Featured{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span4">
                <h1>Featured Feeds</h1>
                <p>Some classic and new feeds to get you started and hooked on
                    Sorbet!</p>
            </div>
            <div class="span8">
                <h3>Don't see something you love?</h3>
                <p>Suggest a feed! We are always looking for new awesome things
                    to read or listen to and will gladly take a look at your
                    suggestions. Post a request on our
                    <a href="https://github.com/overshard/sorbet/issues">
                    GitHub Issues</a> page.</p>
            </div>
            <div class="span12">
                <div class="row">
                    <div class="span4">
                        <h3>You Look Nice Today</h3>
                        <p>You Look Nice Today is an audio-based Journal of Emotional Hygiene, staffed by lonelysandwich, scottsimpson, and hotdogsladies.</p>
                        <form action="{% url feedmanager:add-feed %}" method="POST">{% csrf_token %}
                            <input id="id_url" type="hidden" name="url" value="http://feeds.feedburner.com/YouLookNiceToday">
                            <button type="submit" name="submit" id="id_submit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add to Feeds</button>
                        </form>
                    </div>
                    <div class="span4">
                        <h3>XKCD</h3>
                        <p>A webcomic of romance and math humor. XKCD updates every Monday, Wednesday, and Friday.</p>
                        <form action="{% url feedmanager:add-feed %}" method="POST">{% csrf_token %}
                            <input id="id_url" type="hidden" name="url" value="http://xkcd.com/rss.xml">
                            <button type="submit" name="submit" id="id_submit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add to Feeds</button>
                        </form>
                    </div>
                    <div class="span4">
                        <h3>Roderick on the Line</h3>
                        <p>Roderick on the Line is a frank and candid weekly phone call between John Roderick and Merlin Mann.</p>
                        <form action="{% url feedmanager:add-feed %}" method="POST">{% csrf_token %}
                            <input id="id_url" type="hidden" name="url" value="http://feeds.feedburner.com/RoderickOnTheLine">
                            <button type="submit" name="submit" id="id_submit" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Add to Feeds</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if tutorial %}
        <div class="modal fade" id="myModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Welcome to Sorbet!</h3>
            </div>
            <div class="modal-body">
                <p>We noticed you have no feeds yet and brought you to our
                    featured page as a way for you to quickly test our service.</p>
                <p>When you add a feed for the first time you get a short
                    "preview" email. You can then remove the feed or you will
                    simply continue to receive updates.</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-primary">Close</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% if tutorial %}
    {% block extra_js %}
        <script type="text/javascript">
            $('#myModal').modal('show')
        </script>
    {% endblock %}
{% endif %}
