{% extends "core/core.html" %}

{% block title %}Sorbet - Feed Manager{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span7">
                <h2>Your Feed List</h2>
                <p>A list of the feeds you've added to Sorbet, you can remove
                    them at any time to stop receiving email updates.</p>
            </div>
            <div class="span5 add-feed">
                <form action="{% url feedmanager:add-feed %}" method="POST">{% csrf_token %}
                    <div class="input-append" align="right">
                        <input id="id_url" type="text" name="url" maxlength="128" class="span4" />
                        <input type="submit" name="submit" id="id_submit" value="Add Feed" class="btn btn-primary pull-right" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row feed-table">
            <div class="span12">
                {% if feeds %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="span3">Title</th>
                                <th class="span4">URL</th>
                                <th class="span3">Last Checked</th>
                                <th class="span1">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feed in feeds %}
                                <tr>
                                    <td>{{ feed.title }}</td>
                                    <td><a href="{{ feed.url }}">{{ feed.url }}</a></td>
                                    <td>{{ feed.last_checked }}</td>
                                    <td>
                                        <a href="{% url feedmanager:remove-feed feed.id %}">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4>You have no feeds, start adding some! Try our featured section if you don't have any ideas.</h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
